@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600;700;800;900&display=swap');

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a:hover {
  text-decoration: none;
  cursor: default;
}

a, a:active, a:after {
  text-decoration: none;
  cursor: default;
  color: #333333;
}

ul,li {
  margin:0;
  padding:0;
  list-style: none;
  display: inline;
}

html, body {
  height:  100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Noto Sans KR', sans-serif;
}

#content-wrapper {
  width: 1130px;
  margin: 0 auto;
  padding: 0;
}