footer {
    background-color: #F9F9F9;
    width: 100%;
    padding: 30px 0;
}

footer table {
    width: 1130px;
    margin: 0 auto;
    padding: 0;
}  

footer table tr td {
    font-weight: 500;
    font-size: 0.9rem;
}

footer table .git-link:hover {
    cursor: pointer;
    color: green;
}

footer table #copyright {
    font-weight: 700;
    font-size: 1.2rem;
}